<nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
</nav>
<div class="cov_msg">
            <h1>Welcome</h1>
            <p>Scroll Down</p>
</div>
        
        <div class="prof-box"><!-- prof-box: short form for profile box -->
            <img src="css/photo/profile-pic.jpg" class="prof-pic">
           <!-- <div class="prof-pic">
                <img src="assets/images/profile-pic.jpg">
           </div> -->
            <h1>Dibyn Maharjan</h1>
            <h5>Assistant Coach at Ambassador Football Nepal</h5>
            <p>I have spent the 2 years developing my skills as a coach for Ambassador Football. I love managing teams and being productive at solving problems and am looking for a new role that will challenge me.</p>
            <p>Also to purse a challenging career  be part of a progressive organization that gives scope to enhance my knowledge, skills and to reach the pinnacle in the computing and programming with sheer determination and hard work</p>
            
            <div class="socio-icons">
                    <a href="https://www.facebook.com/kevin.lebar.714" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/kevin.lebar.714" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/kevin.lebar.714" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/kevin.lebar.714" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <img src="assets/images/my_resume.jpg" class="resume_pic" />
            
        </div>